@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    @apply bg-[#3b5065] bg-opacity-70;
}

:root {
    --sh-class: #c3bf9f;
    --sh-identifier: #efdcbc;
    --sh-sign: #f0efd0;
    --sh-string: #cc9393;
    --sh-keyword: #f0dfaf;
    --sh-comment: #7f9f7f;
    --sh-jsxliterals: #6266d1;
    --sh-property: #dfdfbf;
    --sh-entity: #e25a1c;
}
